# Virtual environment
venv/
env/
ENV/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite database
*.sqlite3
*.db

# Dotenv (token va maxfiy ma'lumotlar)
.env

# Logs
*.log
*.log.*
log.txt

# OS/Misc files
.DS_Store
Thumbs.db

# PyCharm or VSCode project files (optional)
.idea/
.vscode/

# Compiled C files (agar bo‘lsa)
*.so
